.chats{
  background: #fff;
  padding: 10px;
}
.chat {

  /*border: 1px solid #cecece;*/
  /*overflow: hidden;*/
}
  .chat__message {
    /*padding: 5px;*/
    background: #35ba65;
    border-radius: 10px;
    position: relative;
    width: 60%;
    padding: 10px;
    margin: 10px 10px 20px 10px;
  }
    .chat__message::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      background: #35ba65;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .chat__message::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      background: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .chat__author {
      color: #fff;
    }





  .chat__message_my {
    background-color: #759CB8;
  }
